body{
    background: #2196F3;
    margin: 0; 
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}
a:visited{
    color:inherit;
}

header{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #212121;
}

header a{
align-items: center;
font-size: 20px;
padding-top: 5px;
}


header img{
    height: 150px;
    width: 150px;
    border-radius: 100%;
    box-shadow: -10px 5px 10px -1px #212121;
}

nav{
    text-align: center;
}

nav ul{
    padding: 0;
}

nav ul li {
    display: inline-block;
    padding: 5px;

}

.iconos {
    width: 45px;
    border: solid 2px #BDBDBD;
}

.texto {
    text-align: center;
    color: #212121;
    font-size: 20px;
    font-weight: 500;
}

.botones{
    text-align: center;
}

.botones ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.botones li{
    margin: 10px 0; 
}
.botones a:link, .botones:visited {
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    padding: 15px 25px;
    color: #E1BEE7;
    border-radius: 5px;
    border: solid 2px black;
    background-color: #FFECB3;
    box-shadow: -5px 5px 0px 0px #111;
}

.botones a:hover, .botones a:active {
    background-color: #03A9F4;
    box-shadow: -5px 5px 0px rgba(0, 0, 0, 1);
}


footer{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}


