body{
    background: #9077cc;
    margin: 0; 
    font-family: 'Roboto', sans-serif;
}



header{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #212121;
    text-decoration: none;
}


header a{
    font-size: 20px;
    text-decoration: none;
    color: #000;
    margin-bottom: 12px;
}

header a:link, a:visite{
    text-decoration: none;
    color:#000
}




header img{
    height: 150px;
    width: 150px;
    border-radius: 100%;
    box-shadow: 0 0 40px  #ec34dd;
    margin-bottom: 20px ;
}

nav{
    text-align: center;
}

nav ul{
    padding: 0;
    border-bottom: solid 1px #212121;
}

nav ul li {
    display: inline-block;
    padding: 5px;
    

}

.iconos  {
    margin-top: 20px;
    margin-right: 10px;
    width: 40px;

}


main section p a:link, a:visited{
    text-decoration: none;
    color: #fff;

}
.texto {
    padding: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5rem;
}



.botones{
    text-align: center;
    margin-top: 50px;
    border-bottom: solid 1px #212121;

}

.botones ul{
    list-style: none;
    padding: 0;
    margin: 0;
    
}

.botones li{
    margin: 20px;
    padding: 10px; 
}
.boton {
    background: #a92fbe;
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    font-size: 22px;
    position: relative;
    border-radius: 10px;
    text-decoration: none;
}

.boton::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        45deg,
        red, blue, deeppink, blue, red, deeppink, blue
    ) ;
    background-size:800% ;
    border-radius: 10px;
    filter:blur(8px);
    animation: glowing 20s linear infinite;
}

@keyframes glowing{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}

footer{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;

}


